
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}


@for $i from 0 to 15 {
  @media (min-width: #{($i) * 321}px) and (max-width: #{(($i+1) * 321)-1}px){
    .root{
      z-index: $i;
      width: #{$i * 321}px
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: auto;
}

.item {
  border: 1px solid black;
  border-radius: 5px;
  width: 310px;
  padding: 5px;
  margin: 5px;
  background-color: white;

  box-shadow: 8px 7px 6px -5px rgba(0, 0, 0, 0.48);
}


.item a {
  color: black;
  text-decoration: none;
}

.preview-image {
  border-radius: 5px;
  width: 300px;
  height: 150px;
}

.pano-content {
  display: flex;
  flex-direction: column;
}
